<!-- src/app/auth/login.component.html -->
<mat-card class="login-card">
  <mat-card-header>
    <mat-card-title>
      <mat-icon>lock_open</mat-icon>
      Iniciar Sesión
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <form (ngSubmit)="login()">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Correo electrónico</mat-label>
        <input
          matInput
          type="username"
          [(ngModel)]="username"
          name="username"
          required
          placeholder="ejemplo@email.com"
        />
        <mat-icon matSuffix>person</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Contraseña</mat-label>
        <input
          matInput
          [type]="hidePassword ? 'password' : 'text'"
          [(ngModel)]="password"
          name="password"
          required
          placeholder="••••••••"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hidePassword = !hidePassword"
          [attr.aria-label]="'Mostrar contraseña'"
          type="button"
        >
          <mat-icon>{{
            hidePassword ? "visibility_off" : "visibility"
          }}</mat-icon>
        </button>
      </mat-form-field>

      @if (errorMessage) {
        <mat-error class="error-text">
          <mat-icon>error_outline</mat-icon>
          {{ errorMessage }}
        </mat-error>
      }

      <div class="button-container">
        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="!username || !password"
        >
          <mat-icon>login</mat-icon>
          Entrar
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
