<!-- Navbar -->
<div class="page">
  <mat-toolbar class="nav">
    <span class="logo">Minería Cripto 5.0</span>
    <span class="spacer"></span>

    @if (authService.getState().token) {
      <button mat-button (click)="onLogout()" class="nav-button">
        <mat-icon>logout</mat-icon>
        Cerrar Sesión
      </button>
    } @else {
      <button mat-button routerLink="/login" class="nav-button">
        <mat-icon>login</mat-icon>
        Iniciar Sesión
      </button>
      <button mat-button routerLink="/signup" class="nav-button">
        <mat-icon>person_add</mat-icon>
        Registrarse
      </button>
    }
  </mat-toolbar>
  <!-- Contenido -->
  <div class="content">
    <router-outlet> </router-outlet>
  </div>

  <!-- 3. Footer -->
  <mat-toolbar color="accent" class="footer">
    <small
      >&copy; 2025 Minería Cripto 5.0 - Todos los derechos reservados.</small
    >
  </mat-toolbar>
</div>
