<div class="plan-container">
  <h1>Planes de Minería</h1>

  <!-- Vista del administrador -->
  @if (esAdmin) {
    <app-admin-plan
      [planes]="planes"
      [planForm]="planForm"
      [modoEdicion]="modoEdicion"
      (onSubmit)="onSubmit()"
      (onEditarPlan)="editarPlan($event)"
      (onEliminarPlan)="eliminarPlan($event)"
      (onResetForm)="resetForm()"
    ></app-admin-plan>
  } @else {
    <!-- Vista del usuario -->
    <app-user-plan
      [planes]="planes"
      (onCrearAlquiler)="crearAlquiler($event)"
    ></app-user-plan>
  }
</div>
